<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uh-oh! Something went wrong</title>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 36px;
      color: #ff4500;
      text-align: center;
    }

    p {
      font-size: 18px;
      text-align: center;
    }

    a {
      color: #4c4c4c;
      text-decoration: none;
    }

    a:hover {
      color: #ff4500;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Uh-oh! Something went wrong</h1>
    <p>We're sorry, but there seems to be an error. Please try again later.</p>
   
  </div>
</body>
</html>
