

<%- include('../layouts/user/userheader.ejs') -%>


<div class="py-1 bg-primary">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">+ 7512573768</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">handpickedfresh@gmail.com</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
            <span class="text">3-5 Business days delivery &amp; Free Returns</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">HANDPICKED</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/userHome" class="nav-link">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="shop.html">Shop</a>
            <a class="dropdown-item" href="wishlist.html">Wishlist</a>
            <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="cart.html">Cart</a>
            <a class="dropdown-item" href="checkout.html">Checkout</a>
          </div>
        </li>
        <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>

      </ul>
    </div>
  </div>
</nav>

<section class="ftco-section contact-section bg-light">
  <div class="container">
    
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form action="/otp-verify" method="post" class="bg-white p-5 contact-form">
          <div class="form-group">

            <h2  class="mb-2" style="color: green;"> OTP VERIFICATION</h2>
            <br><br>
            <input type="otp" id="otp" name="otp" class="form-control" placeholder="Enter the OTP" maxlength="6" required>
            <div class="error" id="otpErr"></div>
	          <p>An otp has been send to your Email. </p>
          </div>
          <% if(typeof error !== 'undefined'){%>
            <h5 class="text-danger text-center"><%= error  %></h5>
          <%}%>
              <br>
         <!-- submit button -->
          <div class="form-group">
          </div>
          <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
             <a href="/login">Go to Login</a> <span id="verifiBtn"> <button disabled="true" class=" btn btn-primary py-3 px-5  mt-2">Resend Otp in<span class="timer"></span> </span>
              <span id="counter"></span>
              </span></button>
          </div> 

           </form>
           
          </div>

      <div class="col-md-6 d-flex">
      
        
<div class="hero-wrap hero-bread" style="background-image: url('images/forgotpass.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <P></P>
        
    
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</section>

<script>
	function countdown() {
	  let seconds = 59;
	  function tick() {
		let counter = document.getElementById("counter");
		seconds--;
		counter.innerHTML =
		  "0:" + (seconds < 10 ? "0" : "") + String(seconds);
		if (seconds > 0) {
		  setTimeout(tick, 1000);
		} else {
		  document.getElementById("verifiBtn").innerHTML = `
		 
			   <button  type ="submit" method="post" class="btn btn-danger py-3 px-5 mt-2" onclick="location.reload()">resend Otp</button>
			   <br>
			  `;
		  document.getElementById("counter").innerHTML = "";
		}
	  }
	  tick();
	}
	countdown();
  </script>

<%- include('../layouts/user/userfooter.ejs') -%>